
/*/deep/ .weather .dx-button-content {*/
  /*width: ;*/
/*}*/
.login-container.form-container{
  top:35%;
}
.login-container .dx-field .btn-right {
  float: right;
}
.login-container .dx-fieldset-header {
  text-align: center;
}
