<div class="form-container signup-container">
  <dx-button text="Login" (onClick)="btnBackLogin()" icon="fa fa-arrow-left"></dx-button>

  <form action="your-action" (submit)="btnSignUp(email,password)">
    <div class="dx-fieldset-header">SignUp</div>
    <div class="dx-field">
      <div class="dx-field-label">Email</div>
      <div class="dx-field-value">
        <dx-text-box [(value)]="email">
          <dx-validator>
            <dxi-validation-rule [pattern]="emailPatern" type="required" message="Thông tin bắt buộc"></dxi-validation-rule>
            <dxi-validation-rule [pattern]="emailPatern" type="pattern" message="Sai định dạng email"></dxi-validation-rule>
          </dx-validator>
        </dx-text-box>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">Password</div>
      <div class="dx-field-value">
        <dx-text-box mode="password" [(value)]="password">
          <dx-validator>
            <dxi-validation-rule type="required" message="Thông tin bắt buộc"></dxi-validation-rule>
            <dxi-validation-rule type="stringLength" message="Mật khẩu ít nhất 6 ký tự" [min]="6"></dxi-validation-rule>
            <dxi-validation-rule type="stringLength" message="Mật khẩu dài nhất 50 ký tự" [max]="50"></dxi-validation-rule>
          </dx-validator>
        </dx-text-box>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">Confirm Password</div>
      <div class="dx-field-value">
        <dx-text-box mode="password">
          <dx-validator>
            <dxi-validation-rule type="required" message="Thông tin bắt buộc"></dxi-validation-rule>
            <dxi-validation-rule type="compare" [comparisonTarget]="passwordComparison"
                                 message="Password and Confirm Password do not match"></dxi-validation-rule>

          </dx-validator>
        </dx-text-box>
      </div>

    </div>
    <div class="dx-field">
      <dx-button text="Đăng ký" class="btn-right" type="success" [useSubmitBehavior]="true"></dx-button>
    </div>
  </form>
</div>
