@import "~bootstrap/dist/css/bootstrap.css";
/* You can add global styles to this file, and also import other style files */
body {
  background:#E2E4E6;
  padding-top: 80px;
}

.form-container {
  background:white;
  padding:3.5em;
  width:450px;
  position:fixed;
  left:50%;
  margin-left:-250px;
}

.loading {
  width: 30px;
  height: 30px;
  border: 5px solid #ccc;
  position: fixed;
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -20px;
  border-radius: 50%;
}

.loading:after {
  content: '';
  position: absolute;
  width: 40px;
  height: 10px;
  background: #E2E4E6;
  top: 10px;
  left: -5px;
  animation: spin 1.2s infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}


@media (max-width: 600px) {
  body {
    padding-top:1.2em;
  }

  .form-container {
    padding:1.2em;
    width:90%;
    margin-left:-45%;
  }
  button {
    font-size:1em;
  }
}
